/* .main_wrapp {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  padding: 1.6rem 1.6rem 1.6rem 0;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.custom-box-editor {
  margin-bottom: 7px;
}

.custom-box-editor li.list-group-item {
  border-radius: 4px !important;
  box-shadow: 0 1px 3px 0 rgb(64 64 64 / 24%);
  z-index: 999999;
  width: 100%;
}

.custom-box-editor li.list-group-item:hover {
  background: #f4f6f8;
  cursor: pointer;
}

.Polaris-Icon.editor-set-icon {
  padding: 9px 8.5px 8.5px 8.5px;
  background: #f4f6f8;
  border-radius: 4px;
  border: 1px solid #c9cccf;
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  margin: 0 12px 0 0;
}

.list-group-item .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.leftpanel {
  padding: 0px 16px 0px 16px;
}

.item {
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.hr {
  padding: 0px 15px 0px 15px;
  display: block;
}

hr {
  border: 1px solid #b4b9be;
  width: auto;
}

.rightpanel {
  border-radius: 4px !important;
  box-shadow: 0 1px 3px 0 rgb(64 64 64 / 24%);
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  margin-right: 20px;
}

.content {
  display: flex;
  flex-direction: row;
}

.left-area {
  width: 60%;
  background-color: #fff;
  padding-left: 7%;
  padding-right: 6%;
  border-right: 1px solid #e6e6e6;
  padding-bottom: 20px;
}

.right-area {
  width: 40%;
  padding-left: 4%;
  background-position: left top;
  float: right;
  padding-right: 10%;
}

.section:first-child {
  padding-top: 0;
}
@media (min-width: 750px) {
  .section {
    padding-top: 10px;
  }
}

.section {
  position: relative;
  padding-top: 20px;
}

@media (min-width: 750px) {
  .os-header {
    margin: 0 0 -0.5em;
  }
}

.os-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}
@media (min-width: 750px) {
  .section__header {
    margin-bottom: 1.5em;
  }
}
.section__header {
  position: relative;
  margin-bottom: 1em;
}

.header_title {
  font-size: 1.57em;
}

.pl-15 {
  padding-left: 15%;
}

.map {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}

@media screen and (max-width: 1350px) {
  .content {
    flex-direction: column-reverse;
  }
  .left-area,
  .right-area {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
  }
  .right-area .prd_price,
  .prd_des {
    width: 50% !important;
  }
}

.content-box.section-element {
  border: 0;
}

.section-element,
.content-box.custom-content-box {
  background-color: unset;
  color: black;
}
.content-box {
  color: black;
}

.content-box.custom-content-box {
  background-color: unset;
  color: black;
  padding-bottom: 0px;
}
.content-box,
.content-box-spacing {
  margin-top: 1em;
}

.content-box {
  background-clip: padding-box;
  border: 1px #d9d9d9 solid;
  border-radius: 5px;
  color: #545454;
}

.content-box h2 {
  color: #000000;
}

.oc_title {
  margin: 0.125em 0 0.5em;
}

h2 {
  font-size: 1.28571em;
  line-height: 1.3em;
}

.content-box .content-box-row,
.content-box .content-box-row h2,
.content-box .content-box-row h1 {
  color: black;
}
.content-box-row:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.content-box-row:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.display-table .content-box-row {
  display: table;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.content-box-row {
  padding: 1.14286em;
  position: relative;
  zoom: 1;
}

.content-order-box-row {
  display: table;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  zoom: 1;
}

.order_confirmation,
.customer_information {
  background-color: #ffffff;
  border-color: #d9d9d9;
}

.tracking-info-number,
.customer_information {
  color: #000;
}

.cust-info-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 20px;
}

@media (min-width: 750px) {
  .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
  }
}
@media (min-width: 750px) {
  .footer {
    margin-top: 1.5em;
  }
}
.footer {
  z-index: 2;
  position: relative;
  margin-top: 2em;
}

.footer-right-area,
.footer-left-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 1000px) {
  .order_summary_sections {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .order_summary_section:first-child {
    padding-top: 0;
  }
}

@media (min-width: 1000px) {
  .order_summary_section-prd-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    min-height: 7em;
    overflow: hidden;
    padding: 0;
    position: relative;
  }
}

@media (min-width: 1000px) {
  .order_summary_section {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

.order_summary_section {
  padding-top: 1.5em;
}

@media (min-width: 1000px) {
  .order_summary_content {
    overflow: hidden;
  }
}

@media (min-width: 1000px) {
  .order_summary_content {
    min-width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (min-width: 1000px) {
  .order_summary_section-prd-list .prd-table {
    margin-top: 0.75em;
    margin-bottom: 1.5em;
    position: relative;
    z-index: 1;
  }
}

.hide {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
  width: 2px;
  height: 2px;
  margin: -2px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.prd:first-child td {
  padding-top: 0;
}

.prd td {
  padding: 8px;
  padding-top: 1em;
  padding-bottom: 10px;
}

td:first-child,
th:first-child {
  padding-left: 0;
  text-align: left;
}

td:last-child,
th:last-child {
  text-align: right;
}

.prd_thumbnail {
  width: 4.6em;
  height: 4.6em;
  border-radius: 8px;
  background: #fff;
  position: relative;
}

.thumbnail_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  z-index: 1;
}

.prd_thumbnail_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.prd_qty {
  font-size: 0.85714em;
  font-weight: 500;
  line-height: 1.75em;
  white-space: nowrap;
  text-align: center;
  border-radius: 1.75em;
  background-color: rgba(114, 114, 114, 0.9);
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 1.75em;
  height: 1.75em;
  padding: 0 0.58333em;
  position: absolute;
  right: -0.75em;
  top: -0.75em;
  z-index: 3;
}

.prd_des {
  width: 50%;
}

.prd_des,
.prd_des_name {
  width: auto;
}

.prd_des_name,
.prd_des_variant {
  display: block;
}
.prd_des_name {
  font-weight: 500;
}

.prd_des_small-text {
  font-size: 0.85714em;
}

.pl-10 {
  padding-left: 10%;
}

.fw-500 {
  font-weight: 500;
}

.order_summary {
  width: 100%;
}

.prd_price {
  width: 150px;
}

.total-line:first-child th,
.total-line:first-child td {
  padding-top: 0;
}
.total-line th,
.total-line td {
  padding-top: 0.75em;
}
td:first-child,
th:first-child {
  padding-left: 0;
  text-align: left;
}

.tbl-total {
  width: 100%;
}

.total_price {
  font-size: 1.71429em;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1em;
}

#draggable {
  flex-direction: column;
}

.list-group-item-disabled {
  opacity: 0.35;
}

.text {
  color: #2c6ecb;
  font-weight: 500;
  font-size: 14px;
}

.list-group {
  margin-bottom: 0;
  padding-left: 0;
}

#add-section .list-group-item {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 286px;
  cursor: pointer;
}

.add-section-div {
  padding: 10px;
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
}

.add-section-div-active {
  background: #f2f7fe;
  border-radius: 4px;
  position: relative;
}

.confirm-section-add {
  display: none;
  line-height: 22px;
  position: absolute;
  right: 6px;
  padding: 2px 9px;
  height: auto;
  min-height: auto;
  min-width: auto;
  font-size: 13px;
}

a.Polaris-Button {
  text-decoration: none;
  text-transform: initial;
}

#add-section .list-group-item span {
  flex: 1;
}

.add-section-body {
  height: calc(100vh - 152px) !important;
  min-height: -webkit-calc(100vh - 152px);
  min-height: calc(100vh - 152px);
  background-color: #f4f6f8;
  height: calc(100vh - 186px);
  min-height: -webkit-calc(100vh - 120px);
  min-height: calc(100vh - 320px);
  overflow: auto;
}

.select-prd-sec {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgb(63 63 68 / 5%), 0 1px 3px 0 rgb(63 63 68 / 15%);
  background-color: #f4f6f8;
  width: 286px;
  border-bottom: 1px solid #ced3d7;
}

.select-prd {
  background: #fff;
  padding: 23px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.select-prd span {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.select-prd .btn-close {
  right: 4px;
  top: 14px;
}

.btn-close {
  padding: 8px;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.btn-close:hover {
  background: #e4e5e7;
  border-radius: 4px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #363f48;
  background-clip: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px transparent solid;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  padding: 0.8em 1.7em !important;
  text-align: center;
  position: relative;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    -webkit-box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    -webkit-box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  width: 100%;
}

@media (max-width: 749px) {
  .btn {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.content {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  will-change: transform, scroll-position;
  padding: 0 0;
  background: #f4f6f8;
  box-shadow: 0 0 0 1px rgb(63 63 68 / 5%), 0 1px 3px 0 rgb(63 63 68 / 15%);
}

.select-prd-sec-new {
  background: #fff;
  padding: 23px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #202223;
  position: relative;
  border-bottom: 1px solid #ced3d7;
  cursor: pointer;
}

.select-prd-sec-new span {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  left: 4px;
  right: unset;
  top: 14px;
}

.hover-button-close {
  padding: 8px;
  position: absolute;
  right: 20px;
  top: 10px;
}

.hover-button-close:hover {
  background: #e4e5e7;
  border-radius: 4px;
}

.panel-body.min-height {
  height: calc(100vh - 341px);
  min-height: calc(100vh - 341px);
  padding: 0;
}

.panel-body {
  background-color: #f4f6f8;
  padding: 16px 0 16px 0;
  height: calc(100vh - 186px);
  min-height: -webkit-calc(100vh - 120px);
  min-height: calc(100vh - 320px);
  overflow: auto;
}

.custom-label {
  padding: 0px 15px 10px;
  color: #6d7175;
  font-weight: 600;
  width: 100%;
  border-bottom: 1px solid #ced3d7;
  background: #f4f6f8;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  margin-bottom: 0;
  padding: 16px 16px 0;
  min-height: 30px;
  background-color: #fff;
  border-radius: 0;
}

.rdw-editor-toolbar {
  border: 1px solid #c9cccf !important;
  margin-bottom: 0px !important;
}

.editor-class {
  padding: 1rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.toolbar-class {
  padding: 5px;
}

.rdw-dropdown-wrapper {
  margin-bottom: 5px !important;
}

.rdw-dropdown-wrapper:hover,
.rdw-option-wrapper:hover {
  box-shadow: none !important;
  background-color: none !important;
}

.rdw-option-wrapper,
.rdw-dropdown-wrapper {
  border: none !important;
  padding: 0px !important;
  background: none !important;
}

.rdw-option-active {
  box-shadow: none !important;
  background: #e4e5e7 !important;
  border-radius: 4px;
}

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  display: inline-block;
  height: 18px;
  width: 18px;
  border: 2px solid #999ea4;
  background-color: #fff;
  margin: 0 10px 0 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: text-bottom;
  line-height: normal;
}

.swatch {
  display: flex;
  border-radius: 3px;
  width: 38px;
  height: 19px;
  cursor: pointer;
  flex-direction: row;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
}

.swatch-color {
  display: flex;
  flex-direction: row;
}

.popover {
  position: relative;
  top: calc(100% + 2px);
  left: 0;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  width: 100px;
  margin-top: 10px;
}

.delete-section {
  margin-top: 0 !important;
  background: #fff;
  width: 100%;
  border: 1px solid transparent;
  border-top: 1px solid #ced3d7;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 6px 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.delete-section .Polaris-Button {
  margin-top: 0 !important;
  border: 0;
}

.delete-section .Polaris-Button:hover {
  background: #e4e5e7 !important;
  border: 0 !important;
  color: #000 !important;
}

.section-content:hover {
  cursor: pointer;
  outline: 2px solid #2c6ecb;
  padding: 10px 10px;
  margin-top: 1em;
  background-clip: padding-box;
  border-radius: 5px;
}
.highlight {
  background: yellow;
}

.section-content {
  color: #000000;
}

.section-content {
  zoom: 1;
}

.calendar_input {
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  height: 50px;
  border: 1px solid #ccc !important;
  background-clip: padding-box;
  display: block;
  box-sizing: border-box;
  width: 100%;
  word-break: normal;
  padding: 0px 12px;
}

.calendar_input input {
  padding: 12px;
}

.form-range {
  height: 0px !important;
}

.head_font {
  margin: 0 5px 0 0;
  padding: 10px 14px;
  background-color: #ececec;
  color: #929292;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 50px;
  text-align: center;
}

.head_active {
  background-color: rgb(0 128 96) !important;
  color: #fff;
}

.add-coll {
  padding: 0 15px 15px;
  background: 0 0;
}

.add-coll .form-group {
  background: 0 0;
  padding: 0;
}

.form-group h5 {
  text-transform: uppercase;
  margin-top: 12px;
}

.accordion {
  width: 100%;
}

.accordion-button::after {
  background-image: none !important;
}

.empty-coll {
  margin: 5px 0 0 0;
  background-color: #f6f6f7;
  padding: 4px;
  border: 1px solid #c4cdd5;
  height: 120px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}

.remove-coll {
  cursor: pointer;
}

.accordion-button:not(.collapsed) {
  color: inherit !important;
  background-color: inherit !important;
}

.accordion-button:focus {
  border-color: none !important;
}

.text {
  color: inherit !important;
}

#collection-section .list-group-item {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 286px;
  cursor: pointer;
}

.list-group-item .coll-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 126px;
  display: inline-block;
  vertical-align: middle;
}

.coll-info {
  text-align: right;
  cursor: pointer;
  visibility: hidden;
}
.list-group-item.collection:hover .coll-info {
  visibility: visible;
}

.coll-img {
  height: 20px;
  width: 20px;
}

.coll-container {
  background-color: #fafbfb;
  padding: 16px;
  border: 1px solid #c9cccf;
  width: 100%;
  height: 126px;
  position: relative;
  margin-top: 10px;
  border-radius: 4px;
}

.coll-content-img {
  height: 4rem;
  width: 4rem;
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border-radius: 3px;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  vertical-align: middle;
  box-shadow: inset 0 0 0 1px rgb(33 43 54 / 10%);
  padding-top: 19px;
}

.coll-select-prd-sec {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgb(63 63 68 / 5%), 0 1px 3px 0 rgb(63 63 68 / 15%);
  background-color: #f4f6f8;
  width: 286px;
  border-bottom: 1px solid #ced3d7;
}

.section-coll-title {
  text-align: center;
}

.coll-grid-title {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 45%;
}

.collection-title {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 45%;
}

.collection-title-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0px;
  left: 0;
  background-color: #3d4246;
  opacity: 0.25;
}

.form-control {
  font-size: 14px !important;
}

.dis_code {
  cursor: auto;
  display: inline-block;
  background-color: #fff;
  background-clip: border-box;
  border: 1px transparent solid;
  color: #000;
  font-weight: 500;
  padding: 0.8em 1.7em;
  width: 45%;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    -webkit-box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    -webkit-box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  text-align: center;
}

.btn_url {
  width: 45%;
  border-radius: 0 !important;
  background-color: #197bbd;
}

.upload-img-label {
  border: 2px dashed #c4cdd5;
  color: #637381;
  background: #fff none;
  height: 120px;
  margin: 15px;
  border-radius: 3px;
  cursor: pointer;
  width: 250px;
}

.upload-img-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 0px 15px;
}

.upload-img-text {
  display: block;
  margin-top: 0.4rem;
  font-weight: 500;
  color: currentColor;
  width: 100%;
}

.thumbnail {
  padding: 0;
  border: 1px solid #dfe3e8;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
}

.circle {
  border-radius: 50%;
}

#delete:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navigation li {
  display: inline-block;
  margin: 0 1.5rem 1rem 0;
}

.navigation li a {
  color: #000;
  text-decoration: none;
}

.pl-25 {
  padding-left: 25%;
}

.survey {
  border-color: #d9d9d9;
  background-color: #ffffff;
  border: 1px #d9d9d9 solid;
  border-radius: 5px;
}

.survey-title {
  padding: 20px 20px;
}

.survey-box {
  border-top: 1px solid;
  border-color: #d9d9d9;
}

.survey-textarea {
  width: 100%;
}

.panel-body h5,
.recom-body h5 {
  font-size: 12px;
  margin-top: -5px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #202223;
  font-weight: 600;
  margin-bottom: 10px;
}

.accordion-button:focus {
  z-index: 3;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
  background: #e4e5e7;
}

.accordion-item {
  width: 286px;
  width: 241px;
}

.accordion-header {
  border-radius: 4px !important;
  box-shadow: 0 1px 3px 0 rgb(64 64 64 / 24%);
  z-index: 999999;
}

.accordion-body-text {
  box-shadow: 0 1px 3px 0 rgb(64 64 64 / 24%);
  height: auto;
  max-height: calc(100vh - 300px);
  padding: 0;
  overflow: auto;
}

.accordion-scroll {
  height: auto;
  max-height: calc(100vh - 300px);
  overflow-x: hidden;
}

.react-tagsinput-tag {
  background-color: #dfe3e8 !important;
  border: none !important;
  color: #212b36 !important;
}

.react-tagsinput-remove {
  color: #212b36 !important;
  text-decoration: none !important;
}

.react-tagsinput--focused {
  border-color: #d3dbe2 !important;
}

.text-gray {
  color: rgba(109, 113, 117, 1);
}

.recom-body {
  background-color: #f4f6f8;
}

.recomm-delete .recomm-delete-section {
  border-radius: 0 0 7px 7px;
  box-shadow: 0 1px 3px 0 rgb(64 64 64 / 24%);
  border: 0;
}

.recomm-delete-section {
  margin-top: 0 !important;
  background: #fff;
  width: 100%;
  border: 1px solid transparent;
  border-top: 1px solid #ced3d7;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 6px 8px;
  display: flex;
  justify-content: space-between;
}

.recomm-delete-section .Polaris-Button {
  margin-top: 0 !important;
  border: 0;
}

.recomm-delete-section .Polaris-Button:hover {
  background: #e4e5e7 !important;
  border: 0 !important;
  color: #000 !important;
}

.productCard__container {
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  background-color: white;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  position: relative;
}

.productCard__addToBasket {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  display: block;
  top: -10px;
  right: 0px;
  z-index: 2;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  font-size: 10px;
  line-height: 1.2;
  cursor: pointer;
}

.productCard__addToBasket span {
  position: relative;
  top: 54%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  text-align: center;
  width: 40px;
}

.productCard__productImage {
  width: 100px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.productCard__productImage img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.feature-coll {
  margin-top: 20px;
}

.feature-coll h4 {
  font-weight: bolder;
  margin-bottom: 5px;
  max-height: 40px;
  min-height: 40px;
  overflow: hidden;
  text-align: initial;
}

.vendor {
  font-weight: 400;
  margin-bottom: 5px;
  color: black;
}

span.compare-price {
  text-decoration: line-through;
}

.productCard__infoContainer {
  padding-top: 30px;
}

.text-left {
  text-align: left !important;
}

.qty-control {
  display: flex;
  height: 35px;
  color: #000;
}

.btn-left {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  outline: none;
  border-right: 0px;
  position: relative;
  width: 33.33%;
  padding: 0;
  text-align: center;
  border: 1px solid #cccccc;
  box-shadow: none;
  background-color: white;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.qty-control input {
  width: 40%;
  padding: 0;
  margin: 0;
  text-align: center;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  background: #fff;
}

.btn-right {
  outline: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: 0;
  position: relative;
  width: 33.33%;
  padding: 0;
  text-align: center;
  border: 1px solid #cccccc;
  box-shadow: none;
  background-color: white;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.prd-variant-select select {
  height: 35px;
}

.prd-variant {
  display: flex;
  width: 100%;
  margin-top: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prd-variant-select {
  width: 60%;
}

.prd-variant-qty {
  width: 38%;
}

.btn-buy {
  width: 100%;
}

.timer {
  background-color: rgba(192, 192, 192, 0.3);
  padding: 5px;
  border-radius: 3px;
}

.counter {
  font-size: 18px !important;
}

.slick-prev:before {
  color: #000;
}

.slick-next:before {
  color: #000;
}

.Polaris-Banner__Ribbon {
  display: none;
}

.social-banner {
  color: #202223;
  text-decoration: none !important;
}

.social-banner:hover {
  cursor: pointer;
  text-decoration: underline !important;
  color: #202223;
}

.social-links {
  list-style: outside none none;
}

.social-links li {
  display: inline-block;
  font-size: 25px;
  margin: 0px 10px 10px 0px;
}

.social-links.logo_only li .fa-facebook {
  color: #33689b;
  background-color: transparent;
}

.social-links.logo_only li .fa-twitter {
  color: #25aae1;
  background-color: transparent;
}

.social-links .fa {
  display: inline-block;
  line-height: 64px;
  text-align: center;
  width: 50px;
  height: 50px;
}

.social-links.logo_only li .fa-pinterest {
  color: #ce3334;
  background-color: transparent;
}

.social-links.logo_only li .fa-instagram {
  color: #d43282;
  background-color: transparent;
}

.social-links.logo_only li .fa-linkedin {
  color: #0f78b7;
  background-color: transparent;
}

.social-links.logo_only li .fa-tumblr {
  color: #37485e;
  background-color: transparent;
}

.social-links.logo_only li .fa-google-plus {
  color: #c3242a;
  background-color: transparent;
}

.social-links.logo_only li .fa-youtube-play {
  color: #ce3334;
  background-color: transparent;
}

.circle {
  border-radius: 50%;
}

.social-links.circle li span {
  border-radius: 50%;
}

.social-links li .fa-facebook {
  color: #fff;
  background-color: #33689b;
}

.social-links li .fa-twitter {
  color: #fff;
  background-color: #25aae1;
}

.social-links li .fa-pinterest {
  color: #fff;
  background-color: #ce3334;
}

.social-links li .fa-instagram {
  color: #fff;
  background-color: #d43282;
}

.social-links li .fa-linkedin {
  color: #fff;
  background-color: #0f78b7;
}

.social-links li .fa-tumblr {
  color: #fff;
  background-color: #36475d;
}

.social-links li .fa-google-plus {
  color: #fff;
  background-color: #c22026;
}

.social-links li .fa-youtube-play {
  color: #fff;
  background-color: #ce3334;
}

.social-links li span::before {
  display: block;
  height: 50px;
  line-height: 51px;
  width: auto;
  margin: 0;
}

.social-links.round-edge li span {
  border-radius: 6px;
}

.react-player {
  background-color: #000;
} */